# Angular build artifacts
front/dist/
front/node_modules/
front/.angular/cache/

# Spring Boot build artifacts
api/build/
api/.gradle/
api/gradle/wrapper/
api/gradlew*
api/gradlew.bat

# Keep essential configuration files
front/angular.json
front/package-lock.json
front/package.json
front/tsconfig.*

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Other
**/*.iml
*.swp
*.swo
