# Angular build artifacts
front/dist/
front/node_modules/
front/.angular/cache/
front/.editorconfig
front/README.md
front/angular.json
front/package-lock.json
front/package.json
front/tsconfig.*

# Spring Boot build artifacts
api/build/
api/.gradle/
api/gradle/wrapper/
api/gradlew*
api/gradlew.bat

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Dependencies
vendor/
webjars/

# Other
**/*.iml
*.swp
*.swo
