<div class="profile-container">
  <mat-card class="profile-card">
    <h2 class="card-title">User Profile</h2>

    <!-- Profile Form -->
    <form (ngSubmit)="onSubmit()" #profileForm="ngForm" class="form">
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input
          matInput
          [(ngModel)]="user.firstname"
          name="firstname"
          required
        />
        <mat-error *ngIf="profileForm.submitted && !user.firstname"
          >First Name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="user.lastname" name="lastname" required />
        <mat-error *ngIf="profileForm.submitted && !user.lastname"
          >Last Name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          [(ngModel)]="user.mail"
          name="mail"
          required
        />
        <mat-error *ngIf="profileForm.submitted && !user.mail"
          >Email is required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          [(ngModel)]="user.password"
          name="password"
        />
        <mat-hint
          >Leave blank if you don't want to change your password</mat-hint
        >
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" class="btn-submit">
        Update Profile
      </button>
    </form>

    <mat-error *ngIf="errorMessage" class="error">{{ errorMessage }}</mat-error>
    <mat-hint *ngIf="successMessage" class="success">{{
      successMessage
    }}</mat-hint>
  </mat-card>
</div>
