<mat-toolbar color="primary" class="navbar">
  <a routerLink="/tasks" class="logo-link">
    <img src="logo.png" alt="Tasky logo" style="width: 120px; height: auto" />
  </a>

  <div class="navbar-links">
    <button mat-button routerLink="/tasks" class="nav-btn">
      <mat-icon>work</mat-icon>
      Progress
    </button>
    <button mat-button routerLink="/statistic" class="nav-btn">
      <mat-icon>insert_chart</mat-icon>
      Statistic
    </button>
    <button mat-button routerLink="/profile" class="nav-btn">
      <mat-icon>account_circle</mat-icon>
      Profile
    </button>
    <button mat-button (click)="onLogout()" class="logout-btn">
      <mat-icon>exit_to_app</mat-icon> Logout
    </button>
  </div>
</mat-toolbar>
