/* Toolbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(215,227,255);
}

/* Navbar brand styling */
.navbar-brand {
  font-size: 1.8em;
  font-weight: bold;
}

/* Navbar links container */
.navbar-links {
  display: flex;
  gap: 15px;
}

/* Styling for each nav button */
.nav-btn {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between icon and text */
}

/* Hover effect for buttons */
.mat-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Subtle hover effect */
}

/* Hover effect for logout button */
.logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Subtle hover effect */
}

/* Success snackbar style */
.success-snackbar {
  background-color: #4caf50;  /* Green */
  color: white;
  font-weight: bold;
}

.logo-link {
  display: inline-block;
  text-decoration: none;
  padding-top: 5px;
}

.logo-link img {
  cursor: pointer;
}