<div class="signup-container">
  <div class="signup-form-box">
    <h2>Create an Account</h2>

    <form (ngSubmit)="onSignup()" #signupForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          id="firstname"
          name="firstname"
          [(ngModel)]="signupData.firstname"
          required
          placeholder="Enter your first name"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          id="lastname"
          name="lastname"
          [(ngModel)]="signupData.lastname"
          required
          placeholder="Enter your last name"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          id="mail"
          name="mail"
          [(ngModel)]="signupData.mail"
          required
          placeholder="Enter your mail"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          id="password"
          name="password"
          [(ngModel)]="signupData.password"
          required
          placeholder="Enter a strong password"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Job</mat-label>
        <mat-select [(ngModel)]="signupData.job" name="job" required>
          <mat-option value="" disabled selected>Choose your job</mat-option>
          <mat-option value="DEVELOPPEUR">Développeur</mat-option>
          <mat-option value="DEVOPS">DevOps</mat-option>
          <mat-option value="CHEF_DE_PROJET">Chef de Projet</mat-option>
          <mat-option value="PRODUCT_OWNER">Product Owner</mat-option>
          <mat-option value="ARCHITECTE_INFRA">Architecte Infra</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="isLoading"
      >
        Sign Up
      </button>
    </form>

    <p>Already have an account? <a href="/login">Log in here</a></p>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
</div>
