.tasks-page {
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 90px);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: flex;
  gap: 20px;
}

.create-task-btn {
  padding: 10px 20px;
}

/* Tasks container layout */
.tasks-container {
  display: flex;
  gap: 20px;
  flex: 1; /* Makes it grow to fill the available height */
}

.column {
  flex: 1;
  min-height: 100%; /* Ensure it stretches vertically */
  flex-direction: column; /* Keep content stacked */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
}

.column h2 {
  text-align: center;
  color: #333;
}

.task-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.column > .example-box {
  flex-grow: 1;
  overflow: auto; /* Prevent content overflow inside the column */
}

.task-card h3 {
  margin: 0;
  font-size: 1.2em;
  color: #444;
}

.task-card p {
  margin: 5px 0;
  font-size: 0.9em;
}

.task-card .task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-card .task-header h3 {
  margin: 0;
  font-size: 1.2em;
  color: #444;
}

.task-card .user-story-badge {
  background-color: #5e6061; /* Gray badge */
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.8em;
  font-weight: bold;
}

/* Styled badges for priority levels */
.task-card .badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
}

.task-card .badge.high {
  background-color: #e53935; /* Red */
}

.task-card .badge.medium {
  background-color: #fba22d; /* Yellow */
}

.task-card .badge.low {
  background-color: #43a047; /* Green */
}

/* Task actions buttons */
.task-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.task-actions .delete-btn {
  color: red; /* Makes text color red for delete button */
}

.task-actions button[color="warn"]:hover {
  background-color: rgba(255, 0, 0, 0.05); /* Light red background on hover */
}

/* Styling the filter section */
.filters-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.success-snackbar {
  background-color: #43a047; /* Green background */
  color: white;
  font-weight: bold;
}

.cdk-drag-preview {
  border-radius: 8px; /* Keep it consistent with task cards */
  margin: 0; /* Remove any margins */
  overflow: hidden; /* Prevent scrollbars during drag */
}


.cdk-drag-placeholder {
  visibility: hidden; /* Keep it invisible for smooth dragging experience */
  height: 0; /* Avoid any layout disruption */
  margin: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
